# Server port
#
PORT=8000

# Secret for session generation
#
SESSION_SECRET=earth-is-not-flat

# Postgres variables
#
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=van-gogh
POSTGRES_PASSWORD=secret
POSTGRES_DB=lr2

APP_WEB_URL=http://localhost:5173

# Redis variables
#
REDIS_URI=redis://redis:6379
REDIS_PORT=6379
