{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
    "ignorePatterns": ["build/"],
    "rules": {
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "arrow-parens": ["error", "always"],
        "prefer-arrow-callback": ["error"],
        "@typescript-eslint/consistent-type-imports": ["off"],
    },
}
